body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(46, 46, 46);
    margin: auto;
    width: 50%;
    border: 3px
    padding: 10px;
}

nav li{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: larger;
  text-align: center;
  display: inline;
  padding: 10px;
  margin: 10px;
  border: 8px
}

nav li a{
  color: gainsboro;
  text-decoration: none;
}

nav li a:hover{
  color:#20CE88;
  text-decoration: none;
}

#gmap_canvas img {
  max-width: none;
  background: none; 
}

.center{
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
 align-content: right;
}

input[type=text], select, textarea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(86, 86, 86, 1);
    border: 0px solid rgba(83, 57, 19, 1);
    color: #FFFFFF;
    margin: 0 0 5px;
    width: 50%;
    padding:7px;
}

textarea {
  height:200px;
}
