body {
    background-color: rgb(46, 46, 46);
    margin: auto;
    width: 50%;
    border: 3px
    padding: 10px;
}

nav li {
    text-align: center;
  display: inline;
  padding: 10px;
  margin: 10px;
  border: 8px
}

#gmap_canvas img {
  max-width: none;
  background: none; 
}