body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(46, 46, 46);
    margin: auto;
    width: 50%;
    border: 3px
    padding: 10px;
}

nav li{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: larger;
  text-align: center;
  display: inline;
  padding: 10px;
  margin: 10px;
  border: 8px
}

nav li a{
  color: gainsboro;
  text-decoration: none;
}

nav li a:hover{
  color:#20CE88;
  text-decoration: none;
}

#gmap_canvas img {
  max-width: none;
  background: none; 
}

.center{
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  background: white;
  border-radius: 5px;
  padding: 20px;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #20CE88; 
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical;
}
